#header1 {
    letter-spacing: 5px;
    justify-content: center;
}

#agreement {
    margin-left: 5px;
}

#submit {
    width: 65%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerImg {
    width: 8rem;
}

.liFooter {
    list-style: none;
}

.footerContainer {
    margin: 40px 0;
    color: black;
}

.iconFooter {
    width: 20px;
    margin-right: 15px;
}

.img1 {
    height: 275px;
}